* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 64px;
}

h2 {
	font-size: 18px;
	text-decoration: underline;
}
.container {
	padding: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.btns {
	margin: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}

.results {
	width: 250px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.scores {
	text-align: center;
}
