* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.container {
	padding: 92px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.btns {
	margin: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}

.score-board {
	/* margin: 32px 0; */
}

.results {
	width: 250px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

.scores {
	text-align: center;
}
